<div class="<%= componentName %>" data-component="<%= componentName %>" {{#if id}}id="{{id}}"{{/if}}>
  <div class="container-fluid {{type}}">
    <h1>This is a new upFront {{component}} Component with id: {{id}} and variation {{type}}.</h1>
  </div>
</div>
